SECRET_KEY=remplacer-par-une-cle-generee-avec-get_random_secret_key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=virement_producteurs
DB_USER=virement_user
DB_PASSWORD=remplacer-par-votre-mot-de-passe
DB_HOST=localhost
DB_PORT=5433