{% extends 'core/base.html' %}
{% block titre %}Liste des CRMA{% endblock %}
{% block contenu %}
<div class="card">
    <h1>Caisses Régionales de Mutualité Agricole</h1>
    <a href="{% url 'crma_creer' %}" class="btn btn-vert">+ Nouvelle CRMA</a>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Code</th><th>Nom</th><th>CCP</th>
                <th>Email</th><th>Téléphone</th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for crma in crmas %}
            <tr>
                <td>{{ crma.code }}</td>
                <td>{{ crma.nom }}</td>
                <td>{{ crma.ccp_compte }} / {{ crma.ccp_cle }}</td>
                <td>{{ crma.email }}</td>
                <td>{{ crma.telephone }}</td>
                <td>
                    <a href="{% url 'crma_modifier' crma.pk %}" class="btn btn-bleu">Modifier</a>
                    <a href="{% url 'crma_supprimer' crma.pk %}" class="btn btn-rouge">Supprimer</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="6">Aucune CRMA enregistrée.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}