{% extends 'core/base.html' %}
{% block titre %}Tableau de bord{% endblock %}
{% block contenu %}
<div class="card">
    <h1>Bienvenue, {{ user.get_full_name|default:user.username }}</h1>
    <p style="color:#555; margin-bottom:1.5rem;">
        Sous-super-utilisateur — {{ user.profil.crma.nom }}
    </p>
    <a href="{% url 'bl_liste' %}" class="btn btn-bleu">Gérer les Bureaux Locaux</a>
    <a href="{% url 'utilisateur_liste' %}" class="btn btn-bleu" style="margin-left:1rem;">Gérer les Utilisateurs</a>
</div>
{% endblock %}